<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- PENTING: CSS HARUS DIPANGGIL DI SINI -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="footer-top">
        <div class="footer-brand">
          <h3>Website</h3>
          <p>
            Personal website untuk berbagi pengalaman, pembelajaran, dan
            perjalanan di dunia teknologi.
          </p>

          <!-- SOCIAL MEDIA  -->
          <!-- div itu buat ngelompokkin atau wadah -->
          <div class="social-links">
            <!-- a href buat link dan dikasih label -->
            <!-- label ini biar kita bisa edit di css -->
            <!-- target top buat mastiin dia itu stay websitenya -->
            <a href="#" aria-label="Instagram" target="_top">
              <!-- logo icon darimana ? dari fontawesome -->
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#" aria-label="GitHub" target="_top">
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="#" aria-label="LinkedIn" target="_top">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
        </div>

        <!-- LINK FOR THE FOOTER -->
        <div class="footer-links">
          <h4>Menu</h4>
          <a href="../index.html" target="_top">Beranda</a>
          <a href="../about.html" target="_top">Tentang Saya</a>
          <a href="../experience.html" target="_top">Pengalaman Kerja</a>
          <a href="../contact.html" target="_top">Kontak</a>
        </div>

        <!-- footer untuk kontak  -->
        <div class="footer-contact">
          <h4>Kontak</h4>
          <p><i class="fa-solid fa-phone"></i> +62 812 3456 7890</p>
          <p>✉️ email@dummy.com</p>
        </div>
      </div>

      <!-- footer untuk credit website -->
      <div class="footer-bottom">
        <p>2026 Vanya Mayazura. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
